extends ./layout/default.jade

block title
	title lowverflow

block content
	.container

		.jumbotron
			h1 Welcome to lowverflow!
			p appleapple

				form.form-signin(action="#", method="post")
					h2.form-signin-heading sign in form
					input.input-block-level(type="text", name="username", placeholder="Email address")
					input.input-block-level(type="password", name="password", placeholder="Password")
					label.checkbox.
						<input type="checkbox" value="remember-me" /> Remember me
					button.btn.btn-large.btn-primary(type="submit") Sign in

		.panel.panel-default
				.panel-heading panel
				.panel-body apple watch want!!!

		a.btn.btn-default Default

		a.btn.btn-primary( href="users" ) Primary

		a.btn.btn-success Success

		a.btn.btn-info Info

		a.btn.btn-warning Warning

		a.btn.btn-danger Danger