extends ./layout/nav.jade

block title
	title lowvweflow

block content
	.panel.panel-default
			.panel-heading Panel Heading
			.panel-body We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh we are confident you will be pleased with the results.

	a.btn.btn-default Default

	a.btn.btn-primary( href="users" ) Primary
 
	a.btn.btn-success Success
 
	a.btn.btn-info Info
 
	a.btn.btn-warning Warning
 
	a.btn.btn-danger Danger

	.container
		.jumbotron
			h1 Welcome to lowvweflow!
			p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.

