<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Lowverflow</title>
		<script src="http://fb.me/react-with-addons-0.12.2.js"></script>
    <script src="http://fb.me/JSXTransformer-0.12.2.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<style>
		body { padding-top: 50px; }
	</style>
</head>
<body>
	<div id="app-container"></div>
	<script type="text/jsx">
    React.render(
      <h1>My TODO</h1>,
      document.getElementById('app-container')
    );
    </script>

</body>
</html>
