extends ./layout/default.jade

block title
    title connect to mysql

block content
  .container
    h1= title
    table
      tr
        th name
        th email
      - each user in users
        tr
          td= user.name
          td= user.email