doctype html
html(lang="en")
  head
    block title
      title Default title
    script(src='http://fb.me/react-with-addons-0.12.2.js')
    script(src='http://fb.me/JSXTransformer-0.12.2.js')
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="../../css/style.css")
  body
block nav
nav.navbar.navbar-inverse.navbar-static-top( role="navigation" )
  .container-fluid
    .navbar-header
        a.navbar-brand(href="/") lowverflow 
    ul.nav.navbar-nav
      li.active: a(href="users") Users
      li: a(href="#") Link
    form.navbar-form.navbar-left(role="search")
      .form-group
        input.form-control(type="text" placeholder="Search")
      button.btn.btn-default Submit
    ul.nav.navbar-nav.navbar-right
      li.dropdown
        a.dropdown-toggle(href="#" data-toggle="dropdown") Dropdown 
          b.caret
          ul.dropdown-menu
            li: a(href="#") Action
            li: a(href="#") Another action
            li: a(href="#") Something else here
block content

block foot
  #footer
    .container-fluid
      small copyright here